@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-face: 'Roboto';
}

h1 {
  @apply text-5xl;
  color: #1aadff;
  font-face: 'Poppins';
  font-weight: bold;
  text-align: center;
}